@use '../../scss/colors';

.category {

    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        color: white;
        list-style: none; 
    }

    ul {

        a{
            text-decoration: none;
        }

        li {
            display: flex;
            justify-content: space-between;
            padding: 1rem 2rem;
        }
    }
}


.category-list.color-0 {
    background-color: #d70060;
}

.category-list.color-1 {
    background-color: #e54028;
}

.category-list.color-2 {
    background-color: #f18d05;
}

.category-list.color-3 {
    background-color: #f2bc06;
}

.category-list.color-4 {
    background-color: #5eb11c;
}

.category-list.color-5 {
    background-color: #3a7634;
}

.category-list.color-6 {
    background-color: #0abebe;
}

.category-list.color-7 {
    background-color: #00a1cb;
}

.category-list.color-8 {
    background-color: #115793;
}