//Primary colors
$primary-color-red: #ff1168;

// Secondary colors
$secondary-color-dark-red: #341931;

//Additional colors
$additional-color-black: #111625;

//Gradient colors
$gradient-color: linear-gradient(90deg, #ee0979, #ff6a00);

//Accent colors
$accent-color-dark-blue: #115793;
$accent-color-blue: #00a1cb;
$accent-color-turquoise: #0abebe;
$accent-color-dark-green: #3a7634;
$accent-color-green: #5eb11c;
$accent-color-dark-yellow: #f2bc06;
$accent-color-orange: #f18d05;
$accent-color-dark-orange: #e54028;